{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false,
        "include": ["transform-es2015-arrow-functions", "es6.map"],
        "exclude": ["transform-regenerator", "es6.set"]
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
